
#im{
	float: left;
}
#headt{
	float: left;
	margin-left:10px;
}
.panel-footer{
	padding: 20px;
	text-align: center;
}
#foot{
	list-style-type: none;
	padding: 0 10%;
}
#content{
	min-height: 70vh;
}
