#cont{
	width: 50%;
	margin: 0 auto;
	box-shadow: 5px 5px 5px gray;
	background-color: black;
	color: white;
	margin-bottom: 50px;
	padding: 20px;
}
.log{
	width: 50%;
	font-size: 20px;
}
.al{
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
}
.form-control{
	width: 50%;
}
#er{
	background-color: blue;
	color: white;
	padding: 10px;
}
.gender{
	padding: 10px;
	margin-left: 10px;
}